.header {
  display: flex;
  color:white;
  background-color: rgb(117, 117, 117);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.checkoutContainer{
  border:double;
  padding:1em;
  background-color: white;
}

.productsList{
  border: solid;
}

.basketButtons{
  justify-self: end;
}
