

#products-display {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.product-display-card {
  display: flex;
  border: solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

#homepage-body {
  display: grid;
  grid-template-rows: 2fr 6fr 3fr 1fr;
  height: 100svh;
}

h1 {
  font-size: x-large;
}

#header {
  grid-row: 1;
}



#checkout-basket-container {
  display: none;
  grid-template-rows: 2fr 1fr 6fr 1fr 2fr;
  position: fixed;
  right: 0;
  z-index: 4;
  width: 35%;
  height: 90%;
}

#basket-product-display {
  height: inherit;
  overflow: auto;
}
