
#homepage-body{
  display: grid;
  grid-template-rows: 2fr 6fr 3fr 1fr;
  height: 100svh;
}

h1{
  font-size: x-large;
}

#header{
  grid-row: 1;
}

#infobar{
  grid-row:3;
  display:flex;
  flex-direction: row;
}

